h3 {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

li.nav-item {
  cursor: pointer;
}

.report-wrapper {
  margin-top: 30px;
}

ul.nav {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.input-group {
  width: 40%;
}
