<h3>Import Logs</h3>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://www.warcraftlogs.com/reports/</span>
  </div>
  <input #logId type="text" class="form-control" value="nyh4dMBc7LTQYHvj" title="">
  <div class="input-group-append">
    <button type="button" class="btn btn-primary" (click)="navigateToReport(ActiveReport, logId.value)">Generate Report</button>
  </div>
</div>


<ul class="nav nav-pills">
  <li *ngFor="let report of AvailableReports" class="nav-item">
    <a class="nav-link" [ngClass]="{active : ActiveReport == report}" (click)="navigateToReport(report, logId.value)">{{report}}</a>
  </li>
</ul>
<div class="report-wrapper">
  <deaths [ngClass]="{hidden : ActiveReport != 'Deaths'}" [GenerateDataEmitter]="GenerateDataEmitter"></deaths>
  <total-damage [ngClass]="{hidden : ActiveReport != 'Total Damage'}" [GenerateDataEmitter]="GenerateDataEmitter"></total-damage>
  <total-damage [ngClass]="{hidden : ActiveReport != 'Total Healing'}" [GenerateDataEmitter]="GenerateDataEmitter"></total-damage>
</div>

