h3 {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

li.nav-item {
  cursor: pointer;
}

.report-wrapper {
  margin-top: 30px;
}

ul.nav {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.inputs {
  width: 40%;
}

div.input-group.log-code-input {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.input-group.search {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
div.input-group.filter {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

