h3 {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

li.nav-item {
  cursor: pointer;
}

.report-wrapper {
  margin-top: 30px;
}

ul.nav {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.inputs {
  width: 40%;
}

div.input-group.log-code-input {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.input-group.search {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
div.input-group.filter {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 35px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

ng-select {
  width: 100%;
}

.kill { color: rgb(50%, 90%, 40%)}
.wipe { color: rgb(90%, 50%, 40%)}

div.card-body {
  background-color: black;
  color: white;
}
