/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  background-color: #111;
  color: #FFF;
}

div.ng-option {
  background: #111 !important;
}
